<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/todos-partials.html :: myheader('My List Of Todos')}">
    <title id="pageTitle"></title>
</head>
<body>
        <nav th:replace="~{partials/todos-partials.html :: mynav}"></nav>
<!--        CONTAINER WITH TODOS TABLE------------------------------------------------------------------------->
        <div class="container">
            <div>Welcome, <span th:text="${name}"></span>!</div><br>
            <hr>
            <h1>Your todos:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Target Date</th>
                        <th>Is Done?</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr th:if="${todo.user.id} == ${#authentication.principal.id}" th:each="todo : ${allTodos}">
                            <td th:text="${todo.description}"></td>
                            <td th:text="${todo.targetDate}"></td>
                            <td th:text="${todo.done}"></td>
                            <td><a th:href="@{/{id}/update-todo (id=${todo.id})}" class="btn btn-success">Update</a></td>
                            <td><a th:href="@{/{id}/delete-todo (id=${todo.id})}" class="btn btn-warning">DELETE</a></td>
                        </tr>
                </tbody>
            </table>
            <a href="/add-todo" class="btn btn-success">Add Todo</a>
        </div>
<!--        END OF TODOS CONTAINER----------------------------------------------------------------->
<div th:replace="~{partials/todos-partials.html :: footer}"></div>
</body>
</html>