<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="~{partials/todos-partials.html :: myheader('Create a New Todo')}">
    <title id="pageTitle"></title>
</head>
<body>
<nav th:replace="~{partials/todos-partials.html :: mynav}"></nav>
            <div class="container">

                <h1>Enter Todo Details</h1>

                <form th:action="@{/add-todo}" th:method="post" th:object="${todo}">
<!--                    DESCRIPTION LABEL AND INPUT------------------------------------->
                    <fieldset class="mb-3">
                        <label for="description">Description:</label>
                        <input type="text" th:field="*{description}" id="description"/>
                    </fieldset>
<!--                    TARGET DATE LABEL AND INPUT------------------------------------->
                    <fieldset class="mb-3">
                        <label for="targetDate">Target Date:</label>
                        <input type="date" th:field="*{targetDate}" id="targetDate"/>
                    </fieldset>
                    <input type="hidden" th:field="*{done}"/>
                    <input type="hidden" th:field="*{id}"/>
                    <input type="submit" class="btn btn-success">
                </form>
            </div>
            <div th:replace="~{partials/todos-partials.html :: footer}"></div>
</body>
</html>